In [1]:
from azureml.core import Workspace, Dataset

ws = Workspace.from_config('.azureml/')

Failure while loading azureml_run_type_providers. Failed to load entrypoint automl = azureml.train.automl.run:AutoMLRun._from_run_dto with exception (azureml-dataprep 5.3.0 (e:\my projects\new project\venv\lib\site-packages), Requirement.parse('azureml-dataprep<5.2.0a,>=5.1.0a'), {'azureml-dataset-runtime'}).

In [2]:
from azureml.core import Dataset
dataset = Dataset.get_by_name(workspace=ws,name='penguine_iter')

In [3]:
import pandas as pd
print(pd.__version__)

df = dataset.to_pandas_dataframe()

2.2.3
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

In [4]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,True,NaT,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,True,NaT,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,None
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,True,NaT,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,None
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,True,NaT,NaN,NaN,NaN,NaN,None,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,True,NaT,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,None